@charset "UTF-8";

@font-face {
	font-family: "pixel"; /* 사용하고 싶은 font-family명을 지정 */
	src: url("./font/neodgm.woff") format("opentype"); /* 폰트파일 불러오기 */
}  
.content {
	color: white! important;
}

h3 {
	color: white! important;
}


.content {
	width: 60%;
	border-radius: 7px;
}

.jungmax{
	display:flex;
	justify-content: center;
	height: 530px;
}

.info {
	height: 50px;
	font-size: 20px;
}

.text {
	background-color: white! important;
	border-radius: 5px;
	height: 280px;
	color: black;
}

.modify, .delete, .list {
	border-radius: 5px;
}